{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <h2>Home</h2>
    <p>Welcome to CodeTutor</p>
    <div>
        {% for task in tasks %}
        <main>
            <p class="head-m">{{task.classroom|default:task.custom_classroom}} <small style="float: right;font-weight: 100;"> {{task.date_assigned|date:"l, jS F, Y"}}</small></p>
            <p>Due Date: {{ task.date_due|date:"l, jS F, Y P" }}</p>
            <p>{{task.desc}}</p>
            {% if task.image %}
            <img src="{{task.image.url}}" alt="task-image">
            {% endif %}
            <div>
                <a class="link-btn" href="{% url 'task_detail' task.id %}">View Task</a>
               
            </div>
        </main>
        {% empty %}
         <p>nothing to show</p>
        {% endfor %}
    </div>
{% endblock %}