{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <h2>Home</h2>
    <p>Welcome to CodeTutor</p>
    <div>
        {% for task in tasks %}
        <div>
            <p>Task {{task.school}} {{task.classroom}} {{task.date_assigned|date:"l, jS F, Y"}} </p>
            <p>{{task.desc}}</p>
            {% if task.image %}
            <img src="{{task.image.url}}" alt="task-image">
            {% endif %}
            <div>
                <a href="{% url 'task_detail' task.id %}">View Task</a>
               
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}