{% extends 'base.html' %}
{% load static %}
{% block title %}Task{% endblock %}
{% block content %}
    <div>
        <p class="head-m">{{task.classroom|default:task.custom_classroom}} <small style="float: right;font-weight: 100;">{{task.date_assigned|date:"l, jS F, Y"}}</small></p>
        <p>Due Date: {{ task.date_due|date:"l, jS F, Y P" }}</p>
        <p>{{task.desc}}</p>
        {% if task.image %}
        <img src="{{task.image.url}}" alt="task-image">
        {% endif %}    
        {% if task.file %}
        <a class="link-btn" href="{{task.file.url}}" download>Download file</a>
        {% endif %}
    </div>
    <main>
        <p class="head-m">Make submission</p>
        <form action="{% url 'submit' task.id  %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if messages %}
                <div class="messages">
                    <ul>
                        {% for message in messages %}
                            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <button type="submit">submit</button>
        </form>
    </main>
    <main>
        <p class="head-m">Your submissions</p>
        {% for submission in submissions %}
        <div class="in-main">
            <p>Submission made on {{submission.date_submitted|date:"l, jS F, Y"}}</p>
            <p>Score: {{submission.score}}</p> 
            {% if submission.image %}
            <img src="{{submission.image.url}}" alt="">
            {% endif %}
            {% if submission.file %}
            <a class="link-btn" href="{{submission.file.url}}">Download file</a>
            {% endif %}
            <form action="{% url 'delete_submission' submission.id  %}" method="post">
                {% csrf_token %}
                <button class="" type="submit">Delete</button>
            </form>
        </div>
        {% empty %}
        <p>You have made no submissions</p>
        {% endfor %}
    </main>
    <main>
        <p class="head-m">Comments</p>
        <form action="{% url 'comment' task.id %}" method="post">
            {% csrf_token %}
            {{ commentform.as_p }}
            {% if messages %}
                <div class="messages">
                    <ul>
                        {% for message in messages %}
                            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <!-- {% if commentform.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in commentform %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %} -->
            <button type="submit">Add comment</button>
        </form>
        {% for comment in comments %}
            <div class="in-main">
                 <p class="head-m">{{comment.student.username}}</p>
                    <p>{{comment.comment}}</p>
                    <small>{{comment.date}}</small>
            </div>
            {% empty %}
            <p>No comments yet</p>
        {% endfor %}
    </main>
{% endblock %}