{% extends 'base.html' %}
{% load static %}
{% block title %}Task{% endblock %}
{% block content %}
    <div>
        <p>Task {{task.school}} {{task.classroom}} {{task.date_assigned|date:"l, jS F, Y"}} </p>
        <p>{{task.desc}}</p>
        {% if task.image %}
        <img src="{{task.image.url}}" alt="task-image">
        {% endif %}    
    </div>
    <div>
        <p>Make submission</p>
        <form action="{% url 'submit' task.id  %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if messages %}
                <div class="messages">
                    <ul>
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <button type="submit">submit</button>
        </form>
    </div>
    <div>
        <p>Your submissions</p>
        {% for submission in submission %}
        <div>
            <p>Submission made on {{submission.date_submitted|date:"l, jS F, Y"}}</p>
            <p>Score: {{submission.score}}</p>
            {% if submission.image %}
            <img src="{{submission.image.url}}" alt="">
            {% endif %}
            {% if submission.file %}
            <img src="{{submission.file.url}}" alt="">
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div>
        <p>Comments</p>
        <form action="{% url 'comment' task.id %}" method="post">
            {% csrf_token %}
            {{ commentform.as_p }}
            {% if messages %}
                <div class="messages">
                    <ul>
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if commentform.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in commentform %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <button type="submit">Add comment</button>
        </form>
        {% for comment in comments %}
        <p>{{comment.student.username}}</p>
        <p>{{comment.comment}}</p>
        <small>{{comment.date}}</small>
        {% endfor %}
    </div>
{% endblock %}